<div class="card w-50 mx-auto mt-4">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
      <form [formGroup]="login">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            placeholder="Enter email"
            formControlName="email"
          />
        </div>
        <div
          *ngIf="
            login.get('email')?.touched &&
            login.get('email')?.hasError('required')
          "
        >
          Email is Required
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
            formControlName="password"
          />
        </div>
        <div
          *ngIf="
            login.get('password')?.touched &&
            login.get('password')?.hasError('required')
          "
        >
          Email is Required
        </div>
        <button
          type="submit"
          [disabled]="login.invalid"
          class="btn btn-primary mt-2"
          (click)="loginUser()"
        >
          Login
        </button>
      </form>
      <a routerLink="/signup">Don't have account? Sign Up</a>
    </div>
  </div>
  